<%= form_with model: Ñourier do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% end %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.text_area :email %><br>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
