<h1>New Courier</h1>

<%= form_with model: @Ñourier, url: couriers_path do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.submit  %>
  </div>
<% end %>
